<div class="container">
  <div class="row gap-0 mt-5 mb-5 row-gap-3">
    <div *ngFor="let techno of technology" class="col-md-3">
      <div class="card" style="width: 18rem; height: 350px;">
        <img  [src]="techno.urlToImage !== null ? techno.urlToImage : img" class="card-img-top h-50">
        <div class="card-body position-relative">
          <h5 title="{{techno.title}}" class="card-title fw-bolder">{{techno.title}}</h5>
          <p class="card-text">{{techno.description}}</p>
          <a href="{{techno.url}}" target="_blank" class="btn btn-primary">see more</a>
        </div>
      </div>
    </div>
  </div>
</div>
