<nav class="navbar bg-dark navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand logo" routerLink="homeNews">NEWS</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/egypt.png" alt="">
            Egypt
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="egybusiness">business</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="egysport">Sports</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="health">health</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="technology">Technology</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="egyscience">Science</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="home" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/united-states.png" alt="">
            united states
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="usbusiness" >business</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="usSports" >Sports</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="ushealth" >health</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="ustechnology" >Technology</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="usscinence" >Science</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/france.png" alt="">
            France
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="frbusiness" >business</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="frsports" >Sports</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="frhealth" >health</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="frtechnology" >Technology</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="frsciness" >Science</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/italy.png" alt="">
            Italy
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="itabusiness" >business</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="itasports" >Sports</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="itahealth" >health</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="itatechnology" >Technology</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="itascience" >Science</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/russia.png" alt="">
          Russia
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="rusbusiness" >business</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="russports" >Sports</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="rushealth" >health</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="rustechnology" >Technology</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="russcience" >Science</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/japan.png" alt="">
          Japan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="japbusiness" >business</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="japsports" >Sports</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="japhealth" >health</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="japtechnology" >Technology</a></li>
            <li><a class="dropdown-item" routerLinkActive="bg-ccc c-white" routerLink="japscience" >Science</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

