<div class="container">
  <div class="row gap-0 mt-5 mb-5 row-gap-3">
    <div *ngFor="let item of sports" class="col-md-3">
      <div class="card" style="width: 18rem; height: 410px;">
        <img [src]="item.urlToImage !== null ? item.urlToImage : img" style="height: 200px;" class="card-img-top">
        <div class="card-body position-relative">
          <h5 class="card-title fw-bolder">{{item.title}}</h5>
          <a href="{{item.url}}" target="_blank" class="btn btn-primary">see more</a>
        </div>
      </div>
    </div>
  </div>
</div>
