.btn {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 12px;
  margin-bottom: 5px;
  background-color: #ccc !important;
  border: none !important;
  font-weight: bold;
  color: black;
}

