<div class="container">
  <h5 >Sooner NEWS</h5>
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide>
      <a target="_blank" href="https://www.youm7.com/story/2023/12/6/%D8%B3%D8%B9%D8%B1-%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D9%84-%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%89-%D8%A7%D9%84%D9%8A%D9%88%D9%85-%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1-6-12-2023/6397686">
        <div>
          <img src="../../assets/slid.jpg" alt="">
          <div class="text">
            <p>The price of the Saudi riyal in Egyptian banks</p>
          </div>
        </div>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a target="_blank" href="https://www.youm7.com/story/2023/12/6/%D8%B3%D8%B9%D8%B1-%D8%A7%D9%84%D8%AF%D9%88%D9%84%D8%A7%D8%B1-%D8%A7%D9%84%D9%8A%D9%88%D9%85-%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1-6-12-2023-%D8%A3%D9%85%D8%A7%D9%85-%D8%A7%D9%84%D8%AC%D9%86%D9%8A%D9%87-%D8%A7%D9%84%D9%85%D8%B5%D8%B1%D9%8A/6397626">
        <div>
          <img src="../../assets/slid2.jpg" alt="">
          <div class="text">
            <p>The price of the US dollar in the Egyptian banks</p>
          </div>
        </div>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a target="_blank" href="https://www.youm7.com/story/2023/12/6/%D8%A3%D8%B3%D8%B9%D8%A7%D8%B1-%D8%A7%D9%84%D8%B9%D9%85%D9%84%D8%A7%D8%AA-%D8%A7%D9%84%D9%8A%D9%88%D9%85-%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1-6-12-2023-%D8%A8%D8%A7%D9%84%D8%A8%D9%86%D9%83-%D8%A7%D9%84%D8%A3%D9%87%D9%84%D9%8A-%D8%A7%D9%84%D9%85%D8%B5%D8%B1%D9%8A/6397654">
        <div>
          <img src="../../assets/slide3.jpg" alt="">
          <div class="text">
            <p>Currency rates in Egyptian banks</p>
          </div>
        </div>
      </a>
    </ng-template>
  </owl-carousel-o>
</div>
