h5 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background: rgba(255, 0, 0, 1);
  padding: 10px;
  border: 3px solid black;
  margin-top: 3px;
  margin-bottom: 0;
}
img {
  height: 300px;
  width: 200px;
}
.text {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #e9e5e5d4;
  bottom: 0;
}
.text p {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

